div.addresses {}

ul.address {list-style:none}
#address_delivery {}
#address_invoice {margin-right:0}
#delivery_address {margin-right:65px;}

ul.address li {
	padding:0 7px;
	line-height:18px;
}

ul.address li.address_title {
   background:#f5f5f5;
   padding:7px;
   margin:0 0 8px;
}

ul.address li.address_firstname,
ul.address li.address_company {
	margin-top:8px
}

ul.address  li.address_update {
	margin-top:20px
}
ul.address  li.address_update,
ul.address li.address_delete {
	font-size:11px;
   text-transform:none
}

.address_add {
   padding:15px 0
}

.address_select {}	
label[for=id_address_delivery], label[for=id_address_invoice] {}
.addressesAreEquals label {
	margin-left: 5px;
}
.addressesAreEquals input {
	float: left;
}
p.address_delivery, p.addressesAreEquals {
	padding-bottom: 14px
}

/* PAGE ADRESSES ******************************************************************************* */
.addresses ul.address {
	list-style-type:none;
	float:left;
	position:relative;
	margin:5px 10px 0 0;
	width:49%;
}
.addresses ul.address.alternate_item,
.addresses ul.address.last_item {margin-right:0}
.addresses ul.address li {
	padding:0 10px;
	line-height:18px;
}
.addresses ul.address .address_title {
	background: #f5f5f5;
	padding:7px;
	margin: 0 0 8px;
}
.addresses ul.address .address_update {margin-top:5px}
.addresses ul.address .address_update,
.addresses ul.address .address_delete { text-transform:none}

