.resumecat {
	margin:0 0 10px 0;
}

.content_scene_cat {
}
.cat_desc {}
.cat_desc p {padding:10px 0;}
.cat_desc .lnk_more {
	background:url("../img/arrow_right_1.png") no-repeat right 4px transparent;
	padding:0 10px;
	color:#0088CC;
}


/* ************************************************************************************************
      SUB CATEGORIES
************************************************************************************************ */
#subcategories {margin-top:15px}
#subcategories h3 {
	font-size:14px;
	font-weight:normal;
	padding:0;
}
#subcategories ul li{
	border: medium none;
    float: left;
    padding: 0 5px 10px;
    text-align: center;
	width:80px;
}
.inline_list {
	list-style-type:none;
	margin-top:10px;
	overflow:hidden;
}
.inline_list  li {
	padding:10px 0;
	border-bottom:1px dotted #ccc
}
.inline_list  li .img {
	display:block;
	margin: 0 0 5px;
}
.inline_list  li img {
	border:1px solid #ccc
}
.inline_list  li .cat_name {
}
