#my-account  #right_column {display:none}
#my-account #center_column h4 {
	font-weight:normal;
}

#my-account .myaccount_lnk_list {list-style-type:none}
#my-account .myaccount_lnk_list li {
	margin:10px 0;
}
#my-account .myaccount_lnk_list img.icon,
#my-account p img.icon {
	vertical-align:middle;
}
