
#primary_block {}

/* pb-right-column ***************************************************************************** */
#pb-right-column {float:left;}
#pb-right-column  #image-block {}
#pb-right-column  #image-block img { }
#pb-right-column  #image-block #view_full_size {
	background:#fff;
	display:block;
	border:1px solid #eee;
	padding:4px;
	cursor:pointer;
	text-align:center;
}
#pb-right-column  #image-block .span_link {
	background: #F5F5F5;
    cursor: pointer;
    display: block;
	margin:2px 0 0;
    padding: 4px 0;
}
#pb-right-column #image-block .span_link:hover {
	background:#eee;
}

/* miniatures */
#pb-right-column #views_block {
	margin-top:10px;
}

#thumbs_list {
	float: left;
	overflow: hidden;
}
#thumbs_list ul#thumbs_list_frame {
   list-style-type: none;
   padding-left: 0
}
#thumbs_list li {
   float: left;
   height: 60px;
   text-align:center;
}
#thumbs_list li img {
	border:1px solid #eee;
}

span.view_scroll_spacer {
   float: left;
   height: 16px;
   width: 21px
}
#view_scroll_left, #view_scroll_right {
   background: url("../img/custom/prev-carousel.png") no-repeat scroll 0 0 transparent;
   float: left;
   margin: 20px 0 0;
   height: 16px;
   width:12px;
   transition: background-position 0.4s ease 0s;
}
#view_scroll_right {
	background: url("../img/custom/next-carousel.png") no-repeat scroll -12px 0 transparent
}
#view_scroll_left:hover {background-position:-12px 0}
#view_scroll_right:hover {background-position:0 0}


.resetimg {padding:10px 0 0 0}

/* link list */
#usefull_link_block {
	list-style-type:none;
	margin-top: 10px;
	overflow:hidden;
}
#usefull_link_block li {
	float:left;
	font-family:Tahoma, Arial, Helvetica, sans-serif;;
	font-size:11px;
	padding:1px 15px 1px 20px;
}
#usefull_link_block li a:hover{
	color:#fe5252;
	text-decoration:none;
}
#usefull_link_block li.print {
	background:url("../img/icon/print.gif") no-repeat 0 0;
}
#usefull_link_block li.sendtofriend {
	padding-left:20px;
	background:url("../img/icon/send_friend.gif") no-repeat 0 0;
}
#usefull_link_block li#left_share_fb{
	padding-left:20px;
	background:url("../img/icon/picto_fb.png") no-repeat 0 0;
}

/* pb-left-column ****************************************************************************** */
#pb-left-column {float:left;}
#pb-left-column h1 {font-size:18px; font-weight:normal;}
#pb-left-column #short_description_block {}
#pb-left-column #short_description_block ul li{padding:2px 0;}
#pb-left-column #short_description_block .buttons_bottom_block {display:none}
#pb-left-column .addthis_toolbox{
	margin:20px 0 0;
}

/* form */
#pb-left-column  #buy_block {margin:20px 0 0;}
#buy_block p {padding-bottom:10px}
#buy_block label {
	margin:0 6px 0 0;
}

/* short description pack */
.short_description_pack {display:none;}

/* color_picker */
#pb-left-column #color_picker p {
	padding-bottom:5px;
	font-weight:bold
}
#attributes fieldset {padding-bottom:15px;}
#attributes fieldset label {font-weight:bold;}
#attributes .attribute_list {margin:5px 0 0;}
.attribute_list #color_to_pick_list {list-style-type:none;}
.attribute_list #color_to_pick_list li {
	border:1px solid #ddd;
	border-radius:8px;
	float:left;
	margin:0 5px 0 0;
	padding:1px;
}
.attribute_list #color_to_pick_list li.selected{border:1px solid #000}
.attribute_list #color_to_pick_list a.color_pick{
	display:block;
	border-radius:6px;
	padding:6px;
}

#buy_block .product_attributes {}
/* attributes */
#attributes select {width:100%;}

/* quantity_wanted */
#quantity_wanted_p {}
#quantity_wanted_p input{padding:2px;}
/* availability_statut */
#availability_statut {padding-bottom:10px;}
#availability_statut span#availability_label {
	font-weight:bold;
}
#availability_statut span#availability_value {
	display:inline-block;
	font-weight:bold;
	color:#8DAC2D;
	text-transform:uppercase;
}
#availability_statut span#availability_value.warning_inline{
	color:#ff0000;
	font-weight:normal;
}
/* prices */
.content_prices {
	background:#f5f5f5;
	padding:10px;
	overflow:hidden;
}
#buy_block .price{overflow:hidden;}
.discount {display:none}
#buy_block p#old_price {
	color:#333;
	float:left;
	font-size:14px;
	padding:5px 0 0 10px;
	text-decoration:line-through;
}
.our_price_display {
	font-size:22px;
	float:left;
}
#reduction_percent,
#reduction_amount {
}
#reduction_percent span,
#reduction_amount span {
}

.on_sale_img{}
/* online_only */
#buy_block p.online_only {
    font-weight:bold;
	font-size:11px;
	color:#990000;
	text-transform:uppercase
}

/* add_to_cart */
.content_prices #add_to_cart {padding:10px 0 0;}
.content_prices #add_to_cart .exclusive,
.content_prices #add_to_cart .exclusive_disabled{}
*:first-child+html .content_prices #add_to_cart .exclusive{}

/* */
.buttons_bottom_block {
	clear:both;
	padding-top:20px;
}
.buttons_bottom_block #wishlist_button {font-weight:bold;}


/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {}
#send_friend_form h2 {
   padding:8px 11px;
   font-size:12px;
   color:#fff;
   text-shadow:0 1px 0 #000;
   text-transform:uppercase;
	background:#383838
}

#send_friend_form .product {margin:20px 10px}
#send_friend_form .product img {
	float:left;
	margin:0 10px 0 0;
	border:1px solid #eee
}
#send_friend_form .product .product_desc {
	float:left;
	width: 380px;
}
#send_friend_form .product .product_desc p {
	padding:0 10px 0 0;
	color:#333
}
#send_friend_form .product .product_desc p.product_name {
	font-size:12px;
	color:#000
}

#send_friend_form .send_friend_form_content {margin:0 10px 20px 10px}
#send_friend_form .form_container {
	padding:10px 15px;
	border:1px solid #eee;
	background:#eee
}
#send_friend_form .form_container p.intro_form {
	padding-bottom:14px;
	font-weight:bold;
	font-size:13px;
	color:#333
}
#send_friend_form .form_container p.txt_required {
	padding-bottom:0;
	color:#666

/* SEND TO FRIEND (pop-in) ##################################################################### */
}
#send_friend_form .form_container .text {padding-bottom:10px}
#send_friend_form .form_container .text label {
	display:inline-block;
   padding:6px 15px;
   width:180px;/* 210 */
   font-size:12px;
   text-align:right
}
#send_friend_form .form_container .text input {
   padding:0 5px;
   height:22px;
   width:260px;
	border:1px solid #eee;
   font-size:12px;
   color:#6666
}
#send_friend_form  .submit {
	margin-top:20px;
	padding-bottom:0;
	text-align:right
}

/* PACK ##################################################################### */
#blockpack {
	margin-top:20px;
    padding-top:20px;
	border-top:1px dotted #999
}

/* PERSONNALISATION ##################################################################### */
.customization_block {}
.customization_block p.infoCustomizable {
	margin:10px 0 20px;
    padding:0 0 0 20px;
	background:url(../img/icon/infos.gif) no-repeat 0 0 transparent
}

ul#uploadable_files,
ul#text_fields {list-style-type:none}
.customizableProductsFile,
.customizableProductsText{
	margin-bottom:20px;
	padding-bottom:10px;
	border-bottom:1px dotted #eee;
}
.customizationUploadLine {padding-bottom:10px}
.customizationUploadLine label {
	display:inline-block;
	width:150px;
	vertical-align:top
}
.customizationUploadLine textarea {
	height:50px;
	width:300px;
	border:1px solid #eee
}
#customizedDatas {
	float:right;
}
#more_info_sheets .accessories_block ul li{
	float:left;
	text-align:center;
}
.accessories_block ul li .product_image{display:block}
.accessories_block ul li .prod_name{margin:7px 0; display:block;}
.accessories_block ul li .prod_name:hover{color:#105BD5;}